{% load static %}
<!DOCTYPE html>

<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="shortcut icon" href="{% static 'images/site-badge.png' %}" type="image/png">
  <!-- <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
      rel="stylesheet"
    /> -->
  <!-- <link rel="stylesheet" href="{% static 'css/main.css' %}?v={{ STATIC_VERSION }}" /> -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}?v=2" />
  
</head>
<!-- <script src='{% static "/js/main.js" %}'></script> -->
<script src={% static "/js/code.jquery.com_jquery-3.6.0.min.js" %}></script>

<body>
  <style>
    .green-text {
      color: green;
    }
  </style>

  <div>
    <div class="webiart-logs">
      <div class="webiart-mobile-logs d-none">
          <div class="webiart-logs-title">موبایل</div>
          <div class="webiart-site-list"></div>
      </div>
      <div class="webiart-accessories-logs d-none">
          <div class="webiart-logs-title">لوازم جانبی</div>
          <div class="webiart-site-list"></div>
      </div>
      <button type="button" class="webiart-toggle-btn" data-show='hide'>
        <svg class="webiart-arrow-up d-none" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 512 299.283"><path fill="#fff" d="M75.334 286.691c-64.764 36.929-96.186-15.595-60.203-51.975L215.997 25.104c33.472-33.472 46.534-33.472 80.006 0l200.866 209.612c35.983 36.38 4.561 88.904-60.203 51.975L256 189.339 75.334 286.691z"/></svg>
        <svg class="webiart-arrow-down"  shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 512 299.283"><path fill="#fff" d="M75.334 12.591C10.57-24.337-20.852 28.186 15.131 64.566l200.866 209.613c33.472 33.471 46.534 33.471 80.006 0L496.869 64.566c35.983-36.38 4.561-88.903-60.203-51.975L256 109.944 75.334 12.591z"/></svg>
      </button>
    </div>
    

  </div>




  <div class="text-center">
    <a style="color: #e45c27;" href="https://bartardigital.com/" target="_blank">
      <img src='{% static "/images/logo.svg" %}' alt="">
    </a>
  </div>
  
  <input type="hidden" name="categoryInput" id="categoryInput" value="{{category_name}}" >
  <div class="webiart-nav">
      <a href="/">گوشی موبایل</a>
      <a href="/tablet" class="{% if category_name == 'tablet'%}active{% endif %}">تبلت</a>
      <a href="/accessories/watchs" class="{% if category_name == 'watchs'%}active{% endif %}">ساعت هوشمند</a>
      <a href="/accessories/handsfree" class="{% if category_name == 'handsfree'%}active{% endif %}">هندزفری</a>
      <a href="/accessories/powerbank" class="{% if category_name == 'powerbank'%}active{% endif %}">پاوربانک</a>
      <a href="/accessories/charger" class="{% if category_name == 'charger'%}active{% endif %}">شارژر</a>
      <a href="/accessories/speaker" class="{% if category_name == 'speaker'%}active{% endif %}">اسپیکر</a>
  </div>

  <div class="s008">
    <form>
      <div class="inner-form">
        <div class="basic-search">
          <div class="input-field">
            <input id="search" type="text" placeholder="مدل لوازم جانبی یا ایدی را وارد کنید" autocomplete="off" />
            <div class="icon-wrap">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                width="20" height="20" viewBox="0 0 20 20">
                <path
                  d="M18.869 19.162l-5.943-6.484c1.339-1.401 2.075-3.233 2.075-5.178 0-2.003-0.78-3.887-2.197-5.303s-3.3-2.197-5.303-2.197-3.887 0.78-5.303 2.197-2.197 3.3-2.197 5.303 0.78 3.887 2.197 5.303 3.3 2.197 5.303 2.197c1.726 0 3.362-0.579 4.688-1.645l5.943 6.483c0.099 0.108 0.233 0.162 0.369 0.162 0.121 0 0.242-0.043 0.338-0.131 0.204-0.187 0.217-0.503 0.031-0.706zM1 7.5c0-3.584 2.916-6.5 6.5-6.5s6.5 2.916 6.5 6.5-2.916 6.5-6.5 6.5-6.5-2.916-6.5-6.5z">
                </path>
              </svg>
            </div>
          </div>
        </div>
        <div class="advance-search">
          <span class="desc">جستجوی پیشرفته</span>
          <div class="row">
            <div class="input-field-50">
              <div class="input-select">
                <select id="siteInput" data-trigger="" name="choices-single-defaul" onChange="sendRequest_select()">
                  <option placeholder="" value="">سایت</option>
                  <option value="Kasrapars"> کسری پارس</option>
                  <option value="Mobile140">موبایل 140</option>
                  <option value="Tecnolife">تکنولایف</option>
                  <option value="Hamrahtel">همراه تل</option>
                  <option value="DigiKala">دیجی کالا</option>
                </select>
              </div>
            </div>
          
            {% if brands %}
            <div class="input-field-50">
              <div class="input-select">
                <select id="brandInput" data-trigger="" name="choices-single-defaul" onChange="sendRequest_select()">
                  <option placeholder="" value="">برند</option>
                  {% for brand in brands %}
                    <option value="{{brand.name_en}}">{{brand.name_fa}}</option>
                  {% endfor %}

                </select>
              </div>
            </div>
            {% endif %}
          </div>
          
          <div class="row third">
            <div class="input-field">
              <div class="result-count">
                <span id="result">0</span>نتیجه جستجو
              </div>
              <div class="group-btn">
                <!-- <button class="btn-delete" id="delete">Reset</button>
                  <button class="btn-search">Search</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <style>
      {
        % comment %
      }

      .element {
        position: relative;
        padding: 8px;
        margin-bottom: 8px;
        font-size: 13px
      }

        {
        % endcomment %
      }

      .element {
        position: relative;
        display: grid;
        grid-template-columns: 1rem 1fr;
        grid-template-rows: auto auto;
        align-items: center;

        padding: 1rem 2rem;
      }

      .btn-delete {
        position: absolute;
        top: 0.2rem;
        right: 0.2rem;
        height: 1rem;
        width: 1rem;
        aspect-ratio: 1;
        border-radius: 50%;
        border: none;
        background-color: #fa5252;
        color: #e03131;
        font-size: 0.9rem;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s;
      }

      .btn-delete:hover {
        background-color: var(--color-red-dark);
      }

      .custom-input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        color: #333;
        outline: none;
      }

      .gray::placeholder {
        color: #ccc
      }

      .green::placeholder {
        color: rgb(0, 255, 0)
      }

      .red::placeholder {
        color: #e03131;
      }
    </style>
  </div>
  <table style="direction:rtl" class="container">
    <thead>
      <tr>
        <th>
          <h1>#</h1>
        </th>
        <th>
          <h1>برند</h1>
        </th>
        <th>
          <h1>دسته بندی</h1>
        </th>
        <th>
          <h1>مدل</h1>
        </th>
        <th>
          <h1>قیمت</h1>
        </th>
        <th>
          <h1>اختلاف قیمت</h1>
        </th>
        <th>
          <h1>سایت</h1>
        </th>
        <th>
          <h1>فروشنده</h1>
        </th>
        <th>
          <h1>رنگ</h1>
        </th>
        <th>
          <h1>اصالت</h1>
        </th>
        <th>
          <h1>توضیحات</h1>
        </th>
        <th>
          <h1>ID</h1>
        </th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>



  <div id="webiart-modal" class="modal">
    <div class="modal__content">
        <a href="#" class="modal__close">&times;</a>
        <div class="webiart-modal-product-title"></div>
        <div class="webiart-modal-product-stock">
            <span>وضعیت: </span>
            <span>-</span>
        </div>
        <div class="webiart-modal-product-updated_at">
            <span>آخرین بروزرسانی: </span>
            <span>-</span>
        </div>
        <div class="webiart-modal-description">
          توضیحات موجود نیست.
        </div>
    </div>
</div>

  <script src='{% static "/js/extention/choices.js" %}'></script>
  <script>

    'use strict';
    const customSelects = document.querySelectorAll("select");
    const deleteBtn = document.getElementById("delete");
    const choices = new Choices("select", {
      searchEnabled: false,
      removeItemButton: true,
      itemSelectText: "",
    });

    for (let i = 0; i < customSelects.length; i++) {
      customSelects[i].addEventListener(
        "addItem",
        function (event) {
          if (event.detail.value) {
            let parent = this.parentNode.parentNode;
            parent.classList.add("valid");
            parent.classList.remove("invalid");
          } else {
            let parent = this.parentNode.parentNode;
            parent.classList.add("invalid");
            parent.classList.remove("valid");
          }
        },
        false
      );
    }



    const create_td = function (i, obj, option) {

      const date = new Date(obj.updated_at);
      const now = new Date()
      const timeDiff = (now - date) / (1000 * 60)

      const fourHourInMiniute = (60 * 4) + 1

      // localize price_change_time
      const price_change_time = obj.price_change_time;
      const custom_id = obj.custom_id || ""
      let ChangeDate = null;
      let localChangeTime = null;
      if (Boolean(price_change_time)) {
        ChangeDate = new Date(price_change_time);
        localChangeTime = new Intl.DateTimeFormat("fa", option).format(
          ChangeDate
        )
      };

      const localTime = new Intl.DateTimeFormat("fa", option).format(
        date
      );

      const min_price = obj.min_price / 10;
      const old_min_price = obj.old_min_price;
      let price_diff = "-";
      if (old_min_price) {
        price_diff = min_price - old_min_price / 10;
        //  price_diff = price_diff / 10;
        console.log('price_diff', price_diff)
        console.log('min_price', min_price)
        console.log('old_min_price', old_min_price)
        console.log("##############################################################")
      }

      let toLocalNumber = "0";
      if (price_diff != "-") {
        const option = {
          style: "currency",
          // currency:
        };
        toLocalNumber = new Intl.NumberFormat("SY").format(
          Math.abs(price_diff)
        );
      } 
      const toLocalMinPrice = new Intl.NumberFormat("SY").format(min_price);
      var textTitle = obj.title;
      const html = `<tr class=${!obj.status ? "dont_Exist" : ""}>
            <td id="td-counter" data-id=${obj.id}>${i + 1}</td>
            <td style="font-size: 13px;">${obj.brand__name_fa}</td>
            <td style="font-size: 13px;">${obj.category__name_fa}</td>
            <td class="price_diff" id="model-title" data-title="${obj.title}" style="font-size:12px;"><a href=${obj.url} target="_blank"> <div style="height:100%;width:100%;">${textTitle.length > 60 ? textTitle.substr(0, textTitle.lastIndexOf(' ', 57)) + '...' : obj.title}<span >${obj.title}</span></div></a></td>
            <td class="price_diff" style="font-size">${toLocalMinPrice + " ت"}
             <span>تاریخ بروزرسانی ${localTime}</span></td>
            <td  class="price_diff"  style="color:${price_diff > 0 ? "green" : "red"};">${price_diff ? toLocalNumber + " ت" : price_diff
        }<span>${localChangeTime ? ` آخرین تغییر قمیت در ${localChangeTime} بوده` : 'تغییر قیمت نداشته.'} </span></td>
            <td id="site" data-site="${obj.site}" style="font-size:14px; padding:0;">${obj.site}</td>
            <td id="seller-guarantee" data-seller="${obj.seller}" data-guarantee="${obj.guarantee}" class="price_diff" style="font-size:14px;">${obj.seller}<span >${obj.guarantee || 'گارانتی ذخیره نشده'}</span></td>
            <td  ><div id="color-name" data-color-name="${obj.color_name}" style="width: 50%;
    float: right;font-size:13px;">${obj.color_name
        }</div>
    <div id="color-hex" data-color-name="${obj.color_hex}" style="background:${obj.color_hex};
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 4px;
    margin-left: 9%;
    float: left;"></div>
   </td>
            <td >${obj.fake ? "❌" : "✅"}</td>
            <td class="webiart-description" id="model-title" style="font-size:12px;"><button type="button" class="webiart-show-description" data-title="${obj.title}" data-stock="${obj.status ? "1" : "0"}" data-update="${localChangeTime ? ` آخرین تغییر قمیت در ${localChangeTime} بوده` : 'تغییر قیمت نداشته.'}" data-description="${obj.description}">نمایش</button></td>
            <td  style="max-width:60px;">
             
                <input onfocus="onFocusFunc(this)" onfocusout="register_id(this, '${custom_id}')" class="custom-input gray" value="${custom_id}" placeholder="ثبت آیدی"/>
            </td>
          </tr>`;

      return html
    }

    let currentRequest = null;
    const debounce = (callback, wait) => {
      let timeoutId = null;
      return (...args) => {
        clearTimeout(timeoutId);
        timeoutId = setTimeout(() => {
          //callback.apply(this, args);
          callback(...args);
        }, wait);
      };
    }
    $(document).on('click', '.webiart-toggle-btn', function(){
      var status = $(this).attr('data-show');
      if(status == 'show'){
        $('.webiart-arrow-up, .webiart-mobile-logs, .webiart-accessories-logs').addClass('d-none', 1000);
        $('.webiart-arrow-down').removeClass('d-none');
        $(this).attr('data-show', 'hide');
      }else{
        
        $('.webiart-arrow-up, .webiart-mobile-logs, .webiart-accessories-logs').removeClass('d-none', 1000);
        $('.webiart-arrow-down').addClass('d-none');
        $(this).attr('data-show', 'show');
      }
    });

    $(document).on('click', '.webiart-show-description', function(){
      var title = $(this).attr('data-title');
      var stock = $(this).attr('data-stock');
      var update = $(this).attr('data-update');
      var description = $(this).attr('data-description');

      $('.webiart-modal-product-title').text(title);
      if(stock == '1'){
        $('.webiart-modal-product-stock > span:nth-child(2)').text('موجود است').removeClass('outofstock').addClass('stock');
      }else{
        $('.webiart-modal-product-stock > span:nth-child(2)').text('ناموجود').removeClass('stock').addClass('outofstock');
      }
      
      $('.webiart-modal-product-updated_at > span:nth-child(2)').text(update);
      if(description != ""){
        $('.webiart-modal-description').html(description);
      }

      $('#webiart-modal').addClass('modal-show');
      
    });

    $(document).on('click', '.modal__close', function(){
      $('#webiart-modal').removeClass('modal-show');
    });

    function sendRequest() {
      // Get search parameters from user input or other elements
      // setTimeout(getLocationFromDb, 1000);
      // var $lock = $(this);

      if (currentRequest) {
        currentRequest.abort()
      }
      var model = $("#search").val();
      var brand = $("#brandInput").val();
      var category = $("#categoryInput").val();
      var site = $("#siteInput").val();

      var url =
        // "/ajax_search/?model=" +
        "/accessories_ajax_search/?model=" +
        model +
        "&brand=" +
        brand +
        "&category=" +
        category +
        "&site=" +
        site;

      // Make an AJAX request to the Django backend
      if (model || brand || site || category) {
        currentRequest = $.ajax({
          url: '/accessories_ajax_search/',
          method: "GET",
          data: {
            model: model,
            brand: brand,
            category: category,
            site: site,
          },
          success: function (response) {
            // Handle the response from Django
            console.log(model, brand, site, category);
            // console.log(response);
            console.log(response);


            const option = {
              hour: "numeric",
              minute: "numeric",
              day: "numeric",
              month: "numeric",
              year: "numeric",
            };
            $("tbody").children().remove();

            for (const [i, obj] of response.entries()) {

              const html = create_td(i, obj, option)

              $("tbody").append(html);
            }

            let count = $("tbody").children().length;

            console.log(count);
            document.querySelector("#result").innerHTML = count;
            count = 0;

            // Update your frontend with the received data
          },
          error: function (xhr, status, error) {
            if (status !== 'abrot') {

              // Handle any errors
              console.error(xhr.responseText);
            }
          },
        });
      } else {
        $("tbody").children().remove();
        count = 0;
        document.querySelector("#result").innerHTML = count;
      }
      console.log();
    }

    const handleSearchRequest = debounce(sendRequest, 600)
    $("#search").on('keyup', handleSearchRequest)

    
    function site_name_accessories(site, status) {
      name = '';
      switch (site) {
        case 'Tellstar':
          name = "تل استار";
          break;
        case 'Diarhamrah':
            name = "دیار همراه";
            break;
        case 'Mobomin':
            name = "موبومین";
            break;
        case 'Taavrizh':
          name = "تاوریژ";
          break;
        case 'Hamrahtel':
          name = "همراه تل";
          break;
        case 'Kasrapars':
          name = "کسری پارس";
          break;
        case 'Mobile140':
          name = "موبایل 140";
          break;
        case 'Digikala':
          name = "دیجی کالا";
          break;
        case 'Tecnolife':
          name = "تکنو لایف";
          break;
        case 'Saymandigital':
          name = "سایمان دیجیتال";
          break;
        default:
          name="نامشخص";
      }
      if(status){
        return name;
      }else{
        return "<span class='text-warning'>" + name + "</span>";
      }
                  
    }

    function site_name(site, status) {
      name = '';
      switch (site) {
        case 'Tellstar':
          name = "تل استار - موبایل";
          break;
        case 'Diarhamrah':
            name = "دیار همراه - موبایل";
            break;
        case 'Mobomin':
            name = "موبومین - موبایل";
            break;
        case 'Taavrizh':
          name = "تاوریژ - موبایل";
          break;
        case 'Hamrahtel':
          name = "همراه تل - موبایل";
          break;
        case 'Kasrapars':
          name = "کسری پارس - موبایل";
          break;
        case 'Mobile140':
          name = "موبایل 140 - موبایل";
          break;
        case 'Digikala':
          name = "دیجی کالا - موبایل";
          break;
        case 'Tecnolife':
          name = "تکنو لایف - موبایل";
          break;
        case 'Saymandigital':
          name = "سایمان دیجیتال - موبایل";
          break;
          case 'Tellstar-tablet':
          name = "تل استار - تبلت";
          break;
        case 'Diarhamrah-tablet':
            name = "دیار همراه - تبلت";
            break;
        case 'Mobomin-tablet':
            name = "موبومین - تبلت";
            break;
        case 'Taavrizh-tablet':
          name = "تاوریژ - تبلت";
          break;
        case 'Hamrahtel-tablet':
          name = "همراه تل - تبلت";
          break;
        case 'Kasrapars-tablet':
          name = "کسری پارس - تبلت";
          break;
        case 'Mobile140-tablet':
          name = "موبایل 140 - تبلت";
          break;
        case 'Digikala-tablet':
          name = "دیجی کالا - تبلت";
          break;
        case 'Tecnolife-tablet':
          name = "تکنو لایف - تبلت";
          break;
        case 'Saymandigital-tablet':
          name = "سایمان دیجیتال - تبلت";
          break;
        case 'Darsoo-tablet':
          name = "دارسو  - تبلت";
          break;
        default:
          name="نامشخص";
      }

      if(status){
        return name;
      }else{
        return "<span class='text-warning'>" + name + "</span>";
      }
      
                  
    } 

    function get_site_status() {

      // Make an AJAX request to the Django backend

      $.ajax({
        url: '/site_status',
        method: "GET",
        data: {},
        success: function (response) {
          const option = {
            hour: "2-digit",
            minute: "2-digit",
            day: "numeric",
            month: "long",
          };

          var html = '';
          var accessories = '';
          for (const [i, obj] of response.mobile.entries()) {

            const date = new Date(obj.last_executed);
            const now = new Date()
            const timeDiff = (now - date) / (1000 * 60)

            const localTime = new Intl.DateTimeFormat("fa", option).format(
              date
            );
            if(timeDiff < 80){
              var color = '#00a92a';
            }else if(timeDiff > 80 && timeDiff < 100){
              var color = '#fbff2b';
            }else if(timeDiff > 120){
              var color = '#d80000';
            }else{
              var color = '#000';
            }

            html += '<div class="webiart-site-item"><div class="d-flex"><div class="webiart-site-status"><svg  version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 31.955 31.955" xml:space="preserve"><g><path style="fill:'+color+';" d="M27.25,4.655C20.996-1.571,10.88-1.546,4.656,4.706C-1.571,10.96-1.548,21.076,4.705,27.3 c6.256,6.226,16.374,6.203,22.597-0.051C33.526,20.995,33.505,10.878,27.25,4.655z"/><circle style="fill:'+color+';" cx="15.979" cy="15.977" r="6.117"/></g></svg></div><div class="webiart-site-title">' + site_name(obj.name, obj.status) + '</div></div><div class="webiart-site-date">'+localTime+'</div></div>';

          }

          
          for (const [i, obj] of response.accessories.entries()) {

            const date = new Date(obj.last_executed);
            const now = new Date()
            const timeDiff = (now - date) / (1000 * 60)

            const localTime = new Intl.DateTimeFormat("fa", option).format(
              date
            );
            if(timeDiff < 45){
              var color = '#00a92a';
            }else if(timeDiff > 45 && timeDiff < 80){
              var color = '#fbff2b';
            }else if(timeDiff > 80){
              var color = '#d80000';
            }else{
              var color = '#000';
            }

            accessories += '<div class="webiart-site-item"><div class="d-flex"><div class="webiart-site-status"><svg  version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 31.955 31.955" xml:space="preserve"><g><path style="fill:'+color+';" d="M27.25,4.655C20.996-1.571,10.88-1.546,4.656,4.706C-1.571,10.96-1.548,21.076,4.705,27.3 c6.256,6.226,16.374,6.203,22.597-0.051C33.526,20.995,33.505,10.878,27.25,4.655z"/><circle style="fill:'+color+';" cx="15.979" cy="15.977" r="6.117"/></g></svg></div><div class="webiart-site-title">' + site_name_accessories(obj.name, obj.status) + '</div><div class="webiart-item-space">-</div><div class="webiart-site-category">'+obj.category__name_fa+'</div></div><div class="webiart-site-date">'+localTime+'</div></div>';

          }
          $(".webiart-mobile-logs").children('.webiart-site-list').html(html);
          $(".webiart-accessories-logs").children('.webiart-site-list').html(accessories);



          // Update your frontend with the received data
        },
        error: function (xhr, status, error) {
          // Handle any errors
          console.error(xhr.responseText);
        },
      });

    }
    
    get_site_status();
    setInterval(function(){
      get_site_status()
  }, 60000)

    function sendRequest_select() {
      // Get search parameters from user input or other elements
      // setTimeout(getLocationFromDb, 1000);
      // var $lock = $(this);
      var model = $("#search").val();
      var brand = $("#brandInput").val();
      var category = $("#categoryInput").val();
      var site = $("#siteInput").val();

      var url =
        "/accessories_ajax_search/?model=" +
        model +
        "&brand=" +
        brand +
        "&category=" +
        category +
        "&site=" +
        site;

      // Make an AJAX request to the Django backend

      $.ajax({
        url: url,
        method: "GET",
        data: {
          model: model,
          brand: brand,
          category: category,
          site: site,
        },
        success: function (response) {
          
          const option = {
            hour: "numeric",
            minute: "numeric",
            day: "numeric",
            month: "numeric",
            year: "numeric",
          };
          $("tbody").children().remove();

          // if ($("#search").val() == "") {
          //   $("tbody").children().remove();
          // }

          for (const [i, obj] of response.entries()) {

            const html = create_td(i, obj, option)

            $("tbody").append(html);
          }

          let count = $("tbody").children().length;

          console.log(count);
          document.querySelector("#result").innerHTML = count;
          count = 0;

          // Update your frontend with the received data
        },
        error: function (xhr, status, error) {
          // Handle any errors
          console.error(xhr.responseText);
        },
      });

      console.log();
    }

    // async function fetchForSetCustomId(title, memory, ram, color_name, site, seller, guarantee,customId, input) {
    async function fetchForSetCustomId(id, customId, input) {
      try {
        input.placeholder = "..."

   
        const res = await fetch(`/set_custom_accessories_id/?id=${id}&custom_id=${customId}`, {
          method: "GET"
        });

        if (!res.ok) {
          console.log(res)
          throw new Error("مشکل کانکشن");
        }

        const data = await res.json();

        if (data.Response === "Faild") {
          throw new Error(data.reason);
        }

        if (data.Response === "success") {
          input.value = customId
          input.placeholder = ""
          input.style.borderWidth = "2px"
          input.style.borderColor = "rgb(0,150,0)"
          input.classList.remove('gray')
          input.classList.remove('red')
          input.classList.add("green")
          input.style.color = "rgb(0,150,0)"

          return 1

        }
        //console.log(data);
      } catch (error) {
        showInputError(input, error.message)
      }
    }
    function showInputError(element, errorMessage) {
      element.value = ""
      element.placeholder = errorMessage;
      element.classList.remove('gray')
      element.classList.remove('green')
      element.classList.add("red")
      element.style.borderColor = "red"
      element.style.borderWidth = "2px"
    }

    function containsOnlyDigits(str) {
      return /^\d+$/.test(str);
    }
    async function register_id(input, custom_id) {
      let coustomID = custom_id
      const inputValue = toEnglishDigits(input.value)
      console.log(inputValue, custom_id, !containsOnlyDigits(inputValue), inputValue === custom_id)

      //if (inputValue === coustomID) return

      if (!containsOnlyDigits(inputValue) && inputValue) {
        showInputError(input, "فقط عدد")

        return
      }

      const parentTR = input.closest('tr');

      const titleElement = parentTR.querySelector('#model-title');
      const colorElement = parentTR.querySelector('#color-name');
      const siteElement = parentTR.querySelector('#site')
      const sellerGuaranteeElement = parentTR.querySelector('#seller-guarantee')
      const modelId = parentTR.querySelector('#td-counter').dataset.id

      if (titleElement && colorElement) {
        const isSuccess = await fetchForSetCustomId(modelId, inputValue, input);
        if (isSuccess) customId = inputValue;

      } else {
        showInputError(input, "اطلاعات مورد نیاز موجود نیست!")
      }
    }

    function onFocusFunc(input) {
      input.innerHTML = "ثبت آيدی"
      input.classList.remove('green')
      input.classList.remove('red')
      input.classList.add('gray')
      input.style.borderColor = "rgb(0,0,0)"
      input.style.borderWidth = "1px"
      input.style.color = "rgb(0,0,0)"
    }

    function toEnglishDigits(str) {
      // convert persian digits [۰۱۲۳۴۵۶۷۸۹]
      var e = "۰".charCodeAt(0);
      str = str.replace(/[۰-۹]/g, function (t) {
        return t.charCodeAt(0) - e;
      });

      // convert arabic indic digits [٠١٢٣٤٥٦٧٨٩]
      e = "٠".charCodeAt(0);
      str = str.replace(/[٠-٩]/g, function (t) {
        return t.charCodeAt(0) - e;
      });
      return str;
    }

  </script>
</body>

</html>