amqp
asgiref
async-timeout
attrs
backports.zoneinfo
beautifulsoup4
billiard
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
Django
django-jalali-date
django-phonenumber-field
django-phonenumbers
djangorestframework
djangorestframework-simplejwt
et-xmlfile
exceptiongroup
fake-useragent
flower
fuzzywuzzy
gunicorn
h11
hiredis
humanize
importlib-resources
jalali-core
jdatetime
kombu
lxml
openpyxl
outcome
packaging
persian-tools
phonenumbers
prometheus-client
prompt-toolkit
PySocks
python-dateutil
python-dotenv
redis
requests
selenium
sniffio
sortedcontainers
soupsieve
sqlparse
tornado
trio
trio-websocket
typing-extensions
tzdata
Unidecode
urllib3
vine
wcwidth
websocket-client
wsproto
zipp
mysqlclient==2.2.4
django-celery-beat
python-Levenshtein
google-drive